/* body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: always;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
} */

/* 可変フォントを計算する js */
/* https://jsfiddle.net/e1b0twhm/3/ */

/* MORP フォントにするクラス */

body {
  background-color: #c5b098;
}

.page-header {
  margin: 10px;
}

.ff-morp {
  font-family: "MORP", sans-serif;
  font-weight: 400;
  font-variation-settings: "morp" var(--morp);
}

.top-page {
  height: 100vh;
  min-height: 800px;
  margin-bottom: 80px;
}

.top {
  font-family: "Lexend", sans-serif;

  font-weight: 400;
}

h1 {
  font-family: "Lexend";
  font-weight: 400;
  font-size: 30px;
  font-size: clamp(30px, calc(4vw + 15px), 70px);
  text-align: center;
  margin: 120px;
}

h2 {
  color: #343f46;
  font-family: "Lexend";
  font-size: 32px;
  font-size: clamp(32px, calc(13vw + -17px), 150px);
  margin: 10px;
  padding-bottom: 70px;
}

/* a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 100;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
  padding-top: 70px;
} */

/* a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -24px;
  border-left: 2px solid #343f46;
  border-bottom: 2px solid #343f46;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
} */

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.cover {
  background-color: #ac5f4c;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cover-char {
  color: #d8bd8b;
  font-size: 50px;
  font-size: clamp(50px, calc(8vw + 20px), 118px);
}

.try {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #343f46;
  z-index: -1;
}

.try-char {
  color: #d8bd8b;
  font-family: "Lexend";
  font-size: 80px;
  font-size: clamp(30px, calc(7vw + -12px), 60px);
  z-index: 1;
}

.movie {
  width: 100%;

  margin: 0 auto;
  background-color: #343f46;
  padding-top: 100px;
  padding-bottom: 100px;
}

.center {
  margin: 0 auto;
  display: block;
}

.morp-try {
  color: #343f46;
}

.textarea-wrapper {
  margin: 0 auto;
  width: 70%;
  border-radius: 0.67em; /* 角丸 */
  padding: 0.5em; /* 内側の余白量 */
  border: 2px solid #343f46; /* 背景色 */
}

textarea {
  display: block;
  width: 100%;
  font-family: "MORP", sans-serif;
  font-weight: 400;
  font-variation-settings: "morp" var(--morp);
  font-size: 5em;
  color: #343f46;
}

.morp-range-1 {
  margin-top: 120px;
  text-align: center;
}

input {
  width: 30%;
  margin-bottom: 120px;
}

::placeholder {
  font-size: 10px;
  font-size: clamp(10px, calc(2vw + 3px), 30px);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.download {
  color: #d8bd8b;
  position: relative;
  background-color: #ac5f4c;
  width: 100%;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  overflow: hidden;
  text-align: center;
}

.download-p {
  display: inline-block;
  color: #343f46;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  font-size: clamp(12px, calc(1vw + 8px), 24px);
  margin: 0 0 100px;
}

.download-link {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.download-link img {
  width: 100%;
  height: auto;
}

/* //////////スマホ版/////////// */

@media screen and (max-width: 480px) {
  h1 {
    margin: 60px;
  }

  .center {
    width: 85%;
  }

  .try-char {
    color: #d8bd8b;
    font-family: "Lexend";
    font-size: 80px;
    font-size: clamp(30px, calc(7vw + -12px), 60px);
    z-index: 1;
  }
}
