/* body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: always;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
} */

/* 可変フォントを計算する js */
/* https://jsfiddle.net/e1b0twhm/3/ */

/* MORP フォントにするクラス */
.ff-morp {
  font-family: "MORP", sans-serif;
  font-weight: 400;
  font-variation-settings: "morp" var(--morp);
}

h1 {
  color: #222;
  font-family: "Quicksand", sans-serif;
  font-size: clamp(30px, calc(7vw + -12px), 60px);
  text-align: center;
  margin: 120px;
}

h2 {
  color: #222;
  font-family: "Quicksand", sans-serif;
  font-size: 9.5rem;
  margin-bottom: 60px;
}

.cover {
  background-color: #ac5f4c;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cover-char {
  color: #d8bd8b;
  font-size: 80px;
  font-size: clamp(80px, calc(9vw + 26px), 120px);
}

.try {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.try-char {
  color: #222;
  font-family: "Quicksand", sans-serif;
  font-size: 80px;
  font-size: clamp(30px, calc(7vw + -12px), 60px);
}

.movie {
  text-align: center;
  margin-top: 20%;
}

.textarea-wrapper {
  margin: 0 auto;
  width: 70%;
}

textarea {
  display: block;
  width: 100%;
  font-family: "MORP", sans-serif;
  font-weight: 400;
  font-variation-settings: "morp" var(--morp);
  font-size: 4em;
}

.input-range {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background: #8acdff;
  height: 14px;
  width: 100%;
  border-radius: 10px;
  border: solid 3px #dff1ff;
  outline: 0;
  /* アウトラインを消して代わりにfocusのスタイルをあてる */
}
.input-range:focus {
  box-shadow: 0 0 3px #00a1ff;
}
.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #53aeff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}
.input-range::-moz-range-thumb {
  background: #53aeff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  border: none;
}
.input-range::-moz-focus-outer {
  border: 0;
}
.input-range:active::-webkit-slider-thumb {
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}
